<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
        </handlers>
        <httpPlatform processPath="%JAVA_HOME%\bin\java.exe"
                      arguments="-Djava.net.preferIPv4Stack=true -Dspring.config.location=%HOME%\site\wwwroot\conf\application.properties -Dlogging.config=%HOME%\site\wwwroot\conf\logback.xml -Dserver.port=%HTTP_PLATFORM_PORT% -jar &quot;%HOME%\site\wwwroot\keychain-ws-1.0.jar&quot;">
        </httpPlatform>
    </system.webServer>
</configuration>